.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f4f4f4;
  margin: 10px auto;
  padding: 10px;
  width: 300px;
  border-radius: 8px;
}
